/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom */

body{
    text-align: center;
}
h1{
    font-size: 65px;
    padding: 50px;
    
}


h2{
    font-size: 40px;
    padding: 40px;

}
hr{ 
    
    border-style: dotted;
    width: 600px;
    margin-top: 50px;
    
}
p{
    font-size: 25px;
    margin: 50px;
   
}
article{
    background-color: rgb(237,127,128);
    width: 270px;
    height: 290px;
   margin-left: 550px;
    margin-top: 50px;
    
    
}
.box1{
    display: inline-block;
    background-color: rgb(173,216,230);
    width: 220px;
    height: 240px;
    border: 3px solid black;
    margin-top: 19px;
    
}
.box2{
    background-color: rgb(218,250,212);
    width: 190px;
    height: 210px;
    margin: 13px;
}
.circlea{
    display: inline-block ;
    background-color: rgb(218,250,212);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 40px;
    
}
.circleb{
    display: inline-block ;
    background-color: rgb(173,216,230);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.circlec{
    display: inline-block ;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.circled{
    display: inline-block ;
    background-color: rgb(237,127,128);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
span{
    font-size: 18px;
    
}

.ex-2{
    border: 1px solid black;
    width: 600px;
    font-size: 0;
    margin: 0 auto;
    text-align: left;
    
   
   
}
.ex2-1{
    display: inline-block;
    background-color: rgb(204,204,204);
    width: 180px;
    height: 100px;
    margin: 10px;
}
.ex2-2{
    display: inline-block;
    background-color: rgb(204,204,204);
    border: 1px solid;
    width: 180px;
    height: 100px;
    margin: 10px; 
    
}
.ex-3{

    font-size: 0;
    display: inline-block;
    width: 606px;
    border: 1px solid black;
    margin-bottom: 100px;
    
}
.ex2-3{
    display: inline-block;
    background-color: rgb(204,204,204);
    border: 1px solid;
    width: 180px;
    height: 100px;
    margin: 10px;
    
    
}